<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yinghangjiaclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 解决TabHost随着输入法软键盘出现而上浮的问题 http://blog.sina.com.cn/s/blog_6dc41baf01015wqy.html -->
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".recommend.RecommendMainActivity" />
        <activity android:name=".recommend.UnLoginRecommendActivity" />
        <activity android:name=".news.NewsMainActivity" />
        <activity android:name=".personal.PersonalMainActivity" />
        <activity android:name=".personal.PersonalCenterActivity" />
        <activity android:name=".personal.BoughtActivity" />
        <activity android:name=".personal.CollectActivity" />
        <activity android:name=".personal.NewsCollectActivity" />
        <activity android:name=".news.NewsDetailActivity" />
        <activity android:name=".more.MoreMainActivity" />
        <activity android:name=".more.FeelbackActivity" />
        <activity android:name=".more.AboutUsActivity" />
        <activity android:name=".more.ConnectUsActivity" />
        <activity android:name=".more.ShareActivity" />
        <activity android:name=".more.LearnerActivity" />
        <activity android:name=".personal.ScoreActivity" />
        <activity android:name=".personal.AdvisorActivity" />
        <activity android:name=".login.QuestionnaireConfirmActivity" />
        <activity android:name=".login.QuestionPersonalActivity" />
        <activity android:name=".personal.TestResultActivity" />
        <activity android:name=".login.QuestionFirstActivity" />
        <activity android:name=".login.QuestionSecondActivity" />
        <activity android:name=".login.QuestionThirdActivity" />
        <activity android:name=".login.QuestionFourthActivity" />
        <activity android:name=".login.QuestionResultActivity" />
        <activity android:name=".recommend.TestBannerActivity" />
        <activity android:name=".recommend.ProduceInfoActivity" />
        <activity android:name=".recommend.ProduceMainActivity" />
        <activity android:name=".recommend.ProdeuceCommentActivity" />
        <activity android:name=".recommend.ProduceSearchActivity"
            android:windowSoftInputMode="adjustPan"></activity>
    </application>

</manifest>