{
  "extends": "airbnb-base",
  "plugins": ["async-await"],
  "rules": {
    "import/no-unresolved": 0,
    "no-param-reassign": 0,
    // allow debugger during development
    "no-debugger": 0,
    "async-await/space-after-async": 2,
    "async-await/space-after-await": 2
  }
}
